@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.App {
  height: 100%;
}

label {
  font-size: 0.7rem;
}

input.form-control,
input.form-control:focus {
  background: #f0f0ff;
}

.max-width-input {
  max-width: 400px;
}

.max-width-form {
  width: 100%;
  max-width: 500px !important;
}

.logo {
  display: inline;
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.6rem;
}

.gutter-background {
  background-color: #0000003b;
}
